body{
    background-color: beige;
}
header{
    background-color: white ;
}
table{
    background-color: black;
    }
.odd{
    background-color: rgb(214, 189, 226);
}
.even{
    background-color: rgb(168, 201, 231);
}
#td1{
    background-color: rgb(168, 201, 231);
}
#time{
    background-color: rgb(168, 201, 231);
    color: rgb(0, 0, 0) ;
}